* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

nav {
  border-bottom: 1px black solid;
  background: #EBEBEB;
}

.header {
  padding: 30px;
  font-size: 1.8rem;
}

.cards-section {
  background: #EBEBEB;
}

.cards {
  width: 80%;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding-bottom: 30px;
}

.card {
  background: black;
  color: #EBEBEB;
  margin-top: 30px;
  height: 250px;
  padding: 30px;
  border-radius: 10px;
}

.card-title {
  font-size: 1.5rem;
  padding-bottom: 20px;
}

@media screen and (max-width:500px) {
  .cards {
    display: block;
  }
}